@media (max-width: 1000px) {

    .modal .modal-content,
    .modal-progress .modal-content-progress,
    .modal-done .modal-content-done {
        width: 35%;
    }

    .modal .modal-content {
        width: 40%;
    }
}


@media (max-width: 860px) {
    body .header-wrap-trello {
        width: 70%;
        padding: 0 30px;
    }

    body .trello-wrap-card {
        display: block;
    }

    body .trello-wrap-card .trello-card-todo,
    .trello-card-in-progress,
    .trello-card-done {
        width: 70%;
        margin: 0 auto 30px;
    }

    .trello-card-todo-body,
    .trello-card-in-progress-body,
    .trello-card-done-body {
        display: flex;
        flex-direction: row;
        gap: 30px;
        overflow: auto;
        overflow-y: hidden;
    }

    .trello-card-todo-item,
    .trello-card-in-progress-item,
    .trello-card-done-item {
        flex: none;
        width: 45%;
    }

    .modal .modal-content {
        width: 50%;
    }
}


@media (max-width: 640px) {

    .trello-card-todo-body,
    .trello-card-in-progress-body,
    .trello-card-done-body {
        gap: 20px;
    }
}

.modal-content {
    width: 35%;
}

.modal-content-progress,
.modal-content-done {
    width: 40%;
}


@media (max-width: 605px) {

    body .header-wrap-trello,
    body .trello-wrap-card .trello-card-todo,
    .trello-card-in-progress,
    .trello-card-done {
        width: 55%;
    }

    .trello-card-todo-body,
    .trello-card-in-progress-body,
    .trello-card-done-body {
        gap: 40px;
    }

    .trello-card-todo-item,
    .trello-card-in-progress-item,
    .trello-card-done-item {
        width: 96%;
    }

    .modal .modal-content {
        width: 40%;
    }

    .modal-progress .modal-content-progress,
    .modal-done .modal-content-done {
        width: 35%;
    }

    .wrap-button,
    .modal-progress .wrap-button,
    .modal-done .wrap-button {

        .save-button,
        .cancel-button,
        .save-button-progress,
        .cancel-button-progress,
        .save-button-done,
        .cancel-button-done {
            margin: 0 5px;
            padding: 10px;
            font-size: 12px;
        }
    }

    .modal-title-progress,
    .modal-title-done {
        font-size: 18px;
    }

    .modal-description-progress,
    .modal-description-done {
        font-size: 14px;
    }
}


@media (max-width: 455px) {
    body .header-wrap-trello {
        width: 63%;
    }

    body .trello-wrap-card .trello-card-todo,
    .trello-card-in-progress,
    .trello-card-done {
        width: 65%;
    }

    .trello-card-todo-body,
    .trello-card-in-progress-body,
    .trello-card-done-body {
        gap: 64px;
    }

    .trello-card-todo-item,
    .trello-card-in-progress-item,
    .trello-card-done-item {
        width: 95%;
    }
}

@media (max-width: 399px) {
    body .header-wrap-trello {
        width: 77%;
    }

    body .trello-wrap-card .trello-card-todo,
    .trello-card-in-progress,
    .trello-card-done {
        width: 77%;
    }

    .trello-card-todo-body,
    .trello-card-in-progress-body,
    .trello-card-done-body {
        gap: 30px;
    }

    .trello-card-todo-item,
    .trello-card-in-progress-item,
    .trello-card-done-item {
        width: 95%;
    }
}


@media (max-width: 351px) {
    body .header-wrap-trello {
        width: 70%;
    }

    body .trello-wrap-card .trello-card-todo,
    .trello-card-in-progress,
    .trello-card-done {
        width: 80%;
    }

    .trello-card-todo-item,
    .trello-card-in-progress-item,
    .trello-card-done-item {
        width: 94%;
    }
}

@media (max-width: 320px) {
    body .header-wrap-trello {
        width: 70%;
    }

    body .trello-wrap-card .trello-card-todo,
    .trello-card-in-progress,
    .trello-card-done {
        width: 90%;
    }

    .trello-card-todo-item,
    .trello-card-in-progress-item,
    .trello-card-done-item {
        width: 95%;
    }
}