body{
    
    background-color: #fbf9fc;;
}

.header-wrap-trello {
    border: 1px solid rgb(233, 158, 248);
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #ecd1f8;
    width: 80%;
    display: block;
    margin: 0 auto 20px;
}

.header-trello {
    display: flex;
    justify-content: space-between;
}

.trello-card-todo-header-info-time{
    align-self: center;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #d9b6e7;
    border-radius: 10px;
    background-color: #f9f8fa;
}

.trello-wrap-card{
    display: flex;
    justify-content: space-evenly;
    
}

.trello-wrap-card-todo {
    padding: 20px 50px;
    /* display: flex; */
    
}

.trello-card-todo-head-text   {
    font-size: 18px;
    align-self: center;
}
.trello-card-in-progress-head-text   {
    font-size: 18px;
    align-self: center;
}

.trello-card-done-head-text   {
    font-size: 18px;
    align-self: center;
}
.trello-card-todo{
    width: 250px;
    border: 1px solid rgb(152, 177, 152);
    border-radius: 15px;
}

.trello-card-todo-head {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(233, 158, 248);
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #d5f8df;
}

.trello-card-todo-body{
    padding: 10px 20px;
    margin-bottom: 20px;
}

.trello-card-todo-item {
    border: 1px solid rgb(233, 158, 248);
    border-radius: 15px;
    background-color: #d5f8df;
    margin-bottom: 10px;
}

.trello-card-todo-wrap-title{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
    
}

.trello-card-todo-wrap-buttons{
    align-self: center;
}

.trello-card-todo-button-edit{
    margin-right: 7px;
}

.trello-card-todo-wrap-description {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}


.trello-card-todo-wrap-user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.trello-card-todo-button-add{
    background-color: #d5f8df;
    width: 250px;
    height: 60px;
    border: 1px solid #c3e4cc; 
    cursor: pointer;
    display: block;
    border-radius: 15px;
}

.trello-delete-all-button{
    background-color: #f8d7da;
    width: 250px;
    height: 60px;
    border: 1px solid #f5c6cb; 
    cursor: pointer;
    display: block;
    border-radius: 15px;
}


.trello-wrap-card-in-progress{
    padding: 20px 50px;
    /* display: flex; */
}


.trello-card-in-progress{
    width: 250px;
border: 1px solid rgb(152, 177, 152);
border-radius: 15px;}

.trello-card-in-progress-head {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(233, 158, 248);
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #eaeef0;
}

.trello-card-in-progress-body{
    padding: 10px 20px;
}

.trello-card-in-progress-item {
    border: 1px solid rgb(233, 158, 248);
    border-radius: 15px;
    background-color: #eaeef0;
    margin-bottom: 10px;
}

.trello-card-in-progress-wrap-title{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
    
}

.trello-card-in-progress-wrap-buttons{
    align-self: center;
}

.trello-card-in-progress-button-back{
    margin-right: 7px;
}

.trello-card-in-progress-wrap-description {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}

.trello-card-inProgress-wrap-user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}





.trello-wrap-card-done{
    padding: 20px 50px;
    /* display: flex; */
}

.trello-card-done{
    width: 250px;
    border: 1px solid rgb(152, 177, 152);
    border-radius: 15px;
}

.trello-card-done-head {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(233, 158, 248);
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #b0dff7;
}

.trello-card-done-body{
    padding: 10px 20px;
    margin-bottom: 20px;
}

.trello-card-done-item {
    border: 1px solid rgb(233, 158, 248);
    border-radius: 15px;
    background-color: #b0dff7;
    margin-bottom: 10px;
}

.trello-card-done-wrap-title{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
    
}

.trello-card-done-wrap-buttons{
    align-self: center;
}

.trello-card-done-button-delete{
    margin-right: 7px;
}

.trello-delete-all-button {
    background-color: #b0dff7;
}

.trello-card-done-wrap-description {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}

.trello-card-done-wrap-user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}







.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(142, 149, 154, 0.4);
}

.modal-content {
    background-color: #d5f8df; 
    margin: 10% auto;
    padding: 30px;
    border: 2px solid #c2d1f0; 
    width: 25%;
    max-width: 600px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

::placeholder {
    color: rgb(133, 130, 130);
    font-size: 16px;
  }

input[type='text'],
textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #bff1cd; 
    border-radius: 8px;
}

#select {
    margin-right: 290px;
}

.select-css { 
    display: block; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0 0 20px 0; 
    border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    } 


.save-button {
    background-color: #78de95; 
    color: white;
    padding: 10px 16px;
    margin-right: 36px;
    border: none;
    border-radius: 8px;
    margin-left: 90px; 
    cursor: pointer;
}

.cancel-button {
    background-color: #78de95; 
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}





.modal-progress {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(126, 130, 134, 0.4);
}

.modal-content-progress {
    background-color: #d5f8df; 
    margin: 10% auto;
    padding: 30px;
    border: 2px solid #c2d1f0; 
    width: 20%;
    max-width: 600px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}


.modal-title-progress {
    display: block;
    margin: auto;
    width: 100px;
    padding: 12px;
    box-sizing: border-box; 
    font-size: 20px;
}

.modal-description-progress {
    display: block;
    width: 90%;
    margin: auto;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

.save-button-progress {
    background-color: #78de95; 
    color: white;
    padding: 10px 16px;
    margin-right: 24px;
    border: none;
    border-radius: 8px;
    margin-left: 63px; 
    cursor: pointer;
}

.cancel-button-progress {
    
    background-color: #78de95;  
    color: white;
    padding: 10px 16px;
    margin: 12px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}




.modal-done {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(126, 130, 134, 0.4);
}

.modal-content-done {
    background-color: #d5f8df; 
    margin: 10% auto;
    padding: 30px;
    border: 2px solid #c2d1f0; 
    width: 20%;
    max-width: 600px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}


.modal-title-done {
    display: block;
    margin: auto;
    width: 100px;
    padding: 12px;
    box-sizing: border-box; 
    font-size: 20px;
}

.modal-description-done {
    display: block;
    width: 90%;
    margin: auto;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

.save-button-done {
    background-color: #78de95; 
    color: white;
    padding: 10px 16px;
    margin-right: 24px;
    border: none;
    border-radius: 8px;
    margin-left: 63px; 
    cursor: pointer;
}

.cancel-button-done {
    background-color: #78de95;  
    color: white;
    padding: 10px 16px;
    margin: 12px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}